.countdownIntCircle {
  position: absolute;
  right: 0;
  z-index: 1;
  font-weight: 900;
  font-size: 2rem;
  color: white;
  border: solid 5px white;
  border-radius: 200px;
  margin: 10px;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: coral;
}

.capture-canvases {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 100vw;
  margin: 0 20px;
}

.capture-canvases>* {
  background-color: #eee;
}

.capture-canvas {
  position: relative;
  background-size:cover;
  background-position:center;
}

.captured-image-number {
  position: absolute;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-color: coral;
  border: solid 3px white;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(35%, -35%);
}
